.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
puppeteer/
scraper.exe
config.sublime-project
config.sublime-workspace
neutralinojs.log
printer-scraper.exe
res.neu
Scraper Server-win.exe
WebView2Loader.dll
yarn.lock
scraper.log
scraper.bak.exe
logg.exe
